# Google
GOOGLE_CLIENT_ID=XXXXXXXXXXX-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=XXXXXX-XXXXXXXXXX-XX-XXXXXXXXXXXXXX

# Discord
DISCORD_CLIENT_ID=XXXXXXXXXXXXXXXXXXX
DISCORD_CLIENT_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Github
GITHUB_CLIENT_ID=XXXXXXXXXXXXXXXXXXXX
GITHUB_CLIENT_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Twitter
TWITTER_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXX
TWITTER_CLIENT_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Steam
STEAM_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX